<h2>UKM Media medlemsregister</h2>

<a href="?page={{ page }}&subpage=add" class="btn btn-success">Legg til nytt medlem</a>

{% if message is defined %}
	<div class="alert alert-{{ message.level }}">{{ message.message }}</div>
{% endif %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Navn</th>
			<th>Brukernavn</th>
			<th>Delta-ID</th>
			<th>Region</th>
		</tr>
	</thead>
	<tbody>
		{% for bruker in brukere %}
		<tr>
			<td>{{ bruker.getWordpressBruker().user_nicename }}</td>
			<td>{{ bruker.getWordpressBruker().user_login }}</td>
			<td>{{ bruker.getDeltaId() }}</td>
			<td>{{ bruker.getRegion() }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>